[submodule "gnome"]
	path = pkg/gnome
	url = https://github.com/aur-pkg/adapta-midnight-gnome-theme-git.git
[submodule "openbox"]
	path = pkg/openbox
	url = https://github.com/aur-pkg/adapta-midnight-openbox-theme-git.git
